.templateux-section {
    padding: 7em 0
}

.testimonial-wrap .quote {
    line-height: 1;
    position: relative;
    font-size: 100px;
    color: #000;
    text-align: center
}

.block-testomonial {
    text-align: center
}

.block-testomonial p {
    font-size: 18px;
    color: #000;
    line-height: 2
}



.quotesSwiper .swiper-horizontal>.swiper-pagination-bullets,
.quotesSwiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.quotesSwiper .swiper-pagination-custom,
.quotesSwiper .swiper-pagination-fraction {
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 24px;
    position: relative;
}

.quotesSwiper .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background:black;
}

