.templateux-cover {
    background-size: cover
}

.templateux-cover,
.templateux-cover .row {
    min-height: 800px
}

.templateux-cover .heading {
    font-size: 30px;
    line-height: 1.5;
    color: #000
}

@media (min-width:768px) {
    .templateux-cover .heading {
        font-size: 50px
    }
}

.templateux-cover .lead {
    color: #999;
    line-height: 1.8
}

.templateux-block-play {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(0, 0, 0, .1);
    position: relative;
    border-radius: 50%;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    top: 50%;
    color: black;
}

.templateux-block-play:hover {
    width: 90px;
    height: 90px;
}

a:hover {
    color: #000 !important;
    text-decoration: none;
}

@media (min-width:992px) {
    .templateux-block-play {
        top: 0
    }
}

.video {
    width: 90%;
}

.video-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background-color: black;
}

.close-btn {
    position: relative;
    bottom: 40%;
    font-size: xxx-large;
}

iframe {
    border: 0;
    width: 100%;
    height: 80vh;
}