.templateux-navbar {
    width: 100%;
    position: relative;
    background-color: #0389ff;
    padding: 10px 0
}

@media (min-width:768px) {
    .templateux-navbar {
        position: absolute;
        background-color: transparent;
        padding: 40px 0
    }
}

.templateux-navbar .templateux-logo {
    margin-top: 10px
}

.templateux-navbar .templateux-logo a {
    font-size: 22px;
    color: #fff
}


.templateux-navbar .templateux-toggle {
    outline: none !important;
    display: none
}

.templateux-navbar .templateux-toggle .resp.templateux-toggle-light .hamburger-inner,
.templateux-navbar .templateux-toggle .resp.templateux-toggle-light .hamburger-inner:after,
.templateux-navbar .templateux-toggle .resp.templateux-toggle-light .hamburger-inner:before {
    background-color: #fff
}

.templateux-navbar .templateux-toggle .resp.templateux-toggle-light:hover {
    opacity: 1
}

.templateux-navbar .templateux-menu {
    margin-left: 33% !important;
}

.templateux-navbar .templateux-menu a {
    text-decoration: none;
    color: #fff
}

.templateux-navbar .templateux-menu a:active,
.templateux-navbar .templateux-menu a:focus,
.templateux-navbar .templateux-menu a:hover {
    color: #fff
}

.templateux-navbar .templateux-menu>li {
    float: none;
    display: inline-flex;
    line-height: 1.5;
    padding-left: 4px;
}

.templateux-navbar .templateux-menu>li.active>a {
    color: #fff
}

.templateux-navbar .templateux-menu>li>a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    padding: 20px 5px
}

@media (min-width:992px) {
    .templateux-navbar .templateux-menu>li>a {
        padding: 20px 15px
    }
}

.templateux-navbar .templateux-menu>li>a.sf-with-ul {
    position: relative;
    padding-right: 20px
}

.arrowdown {
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.templateux-navbar .templateux-menu ul {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
}

.templateux-navbar .templateux-menu ul a {
    font-size: 14px;
    color: #999
}

.templateux-navbar .templateux-menu ul a:active,
.templateux-navbar .templateux-menu ul a:focus,
.templateux-navbar .templateux-menu ul a:hover {
    color: #000
}

.templateux-navbar.dark .templateux-logo {
    margin-top: 10px
}

.templateux-navbar.dark .templateux-logo a {
    font-size: 22px;
    color: #fff
}

@media (min-width:768px) {
    .templateux-navbar.dark .templateux-logo a {
        color: #000
    }
}

.templateux-navbar.dark .templateux-menu a {
    text-decoration: none;
    color: gray
}

.templateux-navbar.dark .templateux-menu a:active,
.templateux-navbar.dark .templateux-menu a:focus,
.templateux-navbar.dark .templateux-menu a:hover {
    color: #999
}

.templateux-navbar .templateux-menu>li>a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
}

@media (min-width: 992px) {
    .templateux-navbar .templateux-menu>li>a {
        padding: 20px 15px;
    }
}

.templateux-navbar.dark .templateux-menu li.active>a {
    color: #000
}

.templateux-navbar .templateux-menu>li {
    float: none;
    display: inline-flex;
    line-height: 1.5;
}

.sf-menu li {
    position: relative;
    line-height: 1.8rem;
}

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.templateux-navbar .templateux-menu>li>ul {
    padding: 20px 26px;
    margin: -10px 15px;
}

.templateux-navbar .templateux-menu ul {
    text-align: left;
    min-width: 12em;
    background: #fff;
}

.sf-menu li.sfHover>ul,
.sf-menu li:hover>ul {
    opacity: 1;
}

ul.submenu {
    position: absolute;
    top: 105%;
    left: 3%;
    border: none;
    max-height: 200%;
    max-width: 10%;
    opacity: 0;
}

ul.submenu2 {
    position: absolute;
    top: 3%;
    left: 120%;
    border: none;
    padding: 13px 0px;
    opacity: 0;
}

ul.submenu3 {
    position: absolute;
    top: 0%;
    left: 100%;
    border: none;
    padding: 13px 0px;
    max-width: 10%;
    opacity: 0;
}

























/* responsive navbar */

.templateux-navbar .templateux-menu ul {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.templateux-navbar .templateux-menu ul li ul li {
    padding: 4px 15px;
    line-height: 1.5rem;
}

@media (min-width:780px) {
    .resp {
        display: none !important;
    }
}


ul.cloned-templateux-menu li {
    list-style: none;
}

#mobile-menu {
    background-color: #595959;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 335px;
    overflow-x: hidden;
    overflow-y: auto;
}

#mobile-menu span svg {
    float: right;
}

#mobile-menu ul li a {
    padding: 7px 10px;
    color: #fff;
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

#mobile-menu ul li a:hover {
    color: #fff !important;
}