.templateux-section {
    padding: 7em 0
}

.lead {
    font-size: 18px;
    font-weight: 300
}

.slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 770px;
    border-style: none;
    object-fit: cover;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    width: 1770px;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #000;
    top: 50%;
    position: absolute;
    font-size: 20px;
    color: #fff;
    opacity: .1;
    cursor: pointer;
    margin-left: 35px;
    margin-right: 35px;
}

.slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: small;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.slider .swiper-button-prev:hover,
.slider .swiper-button-next:hover {

    opacity: 1;
}

.slider .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white;
}

.slider .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 36px;
    position: relative;
}