.footer {
    padding: 7em 0
}

.block-footer-widget h3 {
    text-transform: uppercase;
    font-size: 15px;
    color: #ccc !important
}

.block-social li {
    display: inline-block;
    font-size: 18px
}

body {
    line-height: 1.8;
    font-size: 15px;
    color: #999
}

a {
    text-decoration: none;
    transition: .3s all ease;
    color: #000;
}

.block-social li {
    display: inline;
}

svg {
    margin-bottom: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #0389ff;
    border-color: #0389ff;
    border-radius: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
}