.templateux-section {
    padding: 7em 0
}

.templateux-overlap {
    margin-top: -13em;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .2)
}

@media (min-width:576px) {
    .templateux-overlap {
        padding: 50px
    }
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.block-icon-1 .icon span {
    font-size: 80px;
    color: #d6dadd
}

.block-icon-1 .icon.small span {
    font-size: 40px
}

.block-icon-1 h3 {
    font-size: 18px;
    color: black
}